<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>court-bouillon</title>
    <link rel="stylesheet" href="../index.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="index.css"></link>
    <link rel="stylesheet" href="../index.js">
    <script src="https://unpkg.com/vue"></script>




    <style>
    body{

      background-image : url(http://www.kevinpouderoux.sitew.fr/fs/Nouveau_dossier/aevyn-fond_gris_degrade_642552.jpg);
      background-size: 2000px;
      background-position: top;
      background

    }

    </style>
  </head>

  <body>

    <h1><a href="../index.html" class="h1">Court-Bouillon.fr</a></h1>


  <ul id="menu_horizontal">
      <li><a href="entree.html" class="boutons">Entrées</a></li>
      <li><a href="plat.html" class="boutons">Plats</a></li>
      <li><a href="dessert.html" class="boutons">Desserts</a></li>
      <li><a href="dejeuner.html" class="boutons">Petit-déjeuner</a></li>
      <li><a href="nouvelle.html" class="boutons">Ajouter une recette</a></li>

  </ul>

  <div class="panel-heading">
      <h1> <font style="font-size: 40px" color="black" face="verdana">Nouvelle recette</font></h1>
  </div>

  	<div class="container" id="recette">


      	<div class="col-sm-6">
          	<div class="panel panel-default">



                  	<div class="panel-body">

                      	<p><font style="font-size: 25px">Indiquer le style de plat</font></p>
                      	<div id="choix">
                        	<select v-model="selected">
                          	<option disabled value="">Please select one</option>
                          	<option>Entrée</option>
                          	<option>Plat</option>
                          	<option>Dessert</option>
                          	<option>Salade</option>
                        	</select>
                          <p>la valeur est: {{selected}} </p>
                          <script src="../index.js"></script>

                      	</div>



                        <div id="form">
                          <select v-model="selected">
                          <option disabled-value=""> Ecrire qqch </option>
                          <option> Débutant </option>
                          <option> Moyen </option>
                          <option> Avancé </option>
                          <option> Chef cuisto </option>
                          </select>
                          <p> la valeur est: {{selected}} </p>
                        </div>
                        <script src="../index.js"></script>
                      </div>

                      	<p></p>

                      	<div class="form-ingredient">
                          	<textarea class="form-control" placeholder="Ingrédients " v-model="student.address" ></textarea>
                      	</div>


                      	<div class="form-recette">
                        	<textarea class="form-control" placeholder="Marche à suivre" v-model="student.address"></textarea>

                      	</div>

                      	<p></p>

                      	<button class="btn btn-primary" v-on:click="addStudent">Enregistrer ma recette</button>

                  	</div>

              	</div>

          	</div>

      	</div>













  	<!-- JS -->
  	<script src="node_modules/vue/dist/vue.js"></script>
  	<script src="node_modules/vue-resource/dist/vue-resource.js"></script>
  	<script src="app.js"></script>
  </body>
